body {
    background-color: cornflowerblue;
}

#arena {
    margin: 0 auto;
    margin-top: 250px;
    width: 800px;
    height: 400px;
}

#gameCanvas {
    border: 1px solid black;
}

#toastElement {
    position: absolute;
    margin-left: 300px;
    margin-top: 70px;
    width: 200px;
    font: 40px Arial;
    text-align: center;
    display: none;
    z-index: 1;
    background-color: white;
}

#sidebar {
    position: absolute;
    margin-left: 820px;
    margin-top: 0;
    width: 100px;
}